/*
Copyright 2009, SuperDonate.  All rights reserved.
DONATEWATERGAME CSS FILE
*/

/* Standard stuff */

html, body {

	background: #ffffff;    
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	margin: 0; padding: 0;
	background: url(test/wood_texture4.jpg) repeat scroll 0 -20px;
    
    height:100%; 
}

div#container 
{
	fffposition: absolute;
		
	
	top: 0px;
	left: 0px;
	width: 100%;

	position: relative;
	min-height: 100%;
}

div.miniBR
{
	height: 7px;
}

div#content
{
	/* height of footer - must match footer2.height + margin desired (220 + 30px) */
	padding-bottom: 250px;
}


p {
	padding:0; margin:0;
}

/* TB - Spacing between paragraphs...? */
p+p { 
	margin-top: 0.5em; 
}

/* IE 6 does not understand p+p, so this will have to do... */
p {
	margin-top: 0.5em;
}

ul, ol, li { 
	list-style: none; padding: 0; margin: 0;
}

.clear { 
	clear: both; height: 0px; line-height: 0px;
}

a:link, a:visited, a:hover { 
	color: #0000ff; 
}

a:link img, a:visited img { 
	border: none;
}

a:focus, a:active, a:visited {
	outline: none; 
}

/* Get rid of empty space when creating a form */
form {
	margin: 0;
	padding: 0;
    display: inline;
	color: #000000;
}

div#centerEverything {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* Ultra -- divides the big vertical left ad from main content box */
div#ultraLeft {
	position: absolute;
	right: 5px;
	top: 80px;

	width: 160px; 
	height: 600px;
}

div#ultraRight {
	
	position: relative;
	display: block;
	margin-left: 15px;
	float: right;
	width: 770px;
}



/* Main content */

div#wrapperContentBox {
	position: relative; 
	margin-left: auto;
	margin-right: auto;

	display: block;
}

div#mainBox {

}

/* FIRST AND SECOND PAGES */

div#mainRow {
	
	padding-top: 0;
	padding-bottom: 0;

	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

div#mainGame {
    
	width: 702px;
	margin-top: 10px;
	padding: 0;
    
	border:3px solid #c1c1c1;
	padding: 10px;

    /* relative to properly positon mainGameAjaxLoad */
    position: relative;
    
    background: #ffffff;
    border:3px solid #000000;
}

div#mainGame div#mainGameAjaxLoad {
    position: absolute; 
    top: 18px; 
    left: 18px; 
    z-index: 100;
    display: none;
}

div#mainGame div#mainGameSendBonus {
    padding-top: 5px;
}

div#mainGamePuzzle {
	position: relative;
	display: block;
	margin: 0;
	padding-bottom: 0px;
	color: #000000;

	float: left;
}

div#mainGamePuzzleQuestion {
	position: relative;
	display: block;
	padding: 10px 10px 10px 10px;

	font-size: 20px;
    font-weight : bold;
    color: #0000aa;
    border-bottom: 1px solid #000000;

    width: 350px;
}


div#mainGamePuzzleQuestion span.small {
	font-size: 18px;
}

div#mainGamePuzzleQuestion span.tiny {
	font-size: 16px;
}




/* FIRST PAGE ONLY - How to play, etc */

div#mainGameIntro {
	display: block;

        background: #ffffff;
	color: #000000;
	margin-top: 17px;
	padding: 0px;
}

div#mainGameIntro span {

}

div#mainGameIntro p {
	padding: 0 5px 5px 5px;
	margin: 0;
}

div#mainGameBlankAd {
	display: block;

	color: #bb0000;
	background: #ffffff;
        
	width:479px;
	height: 30px;

	padding: 0px;
	margin: 0px;
	padding-bottom: 7px;
        
	font-size: 1.5em;
	line-height: 30px;
	text-indent: 10px;
	font-weight : bold;
}

div#mainGuide {
	width: 860px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

div#mainGuide div.mainGuideText {
	display: block;
}

div#mainGuide div.mainGuideText p {
	color: #000000; 
	font: 14px Verdana, sans-serif; text-align: left;
}

div#mainGuide div.mainGuideText h2 {
	font: 20px Verdana, sans-serif; text-align: left;
	font-weight: bold;
	margin: 0;
	margin-top: 20px;
	text-align: left;
	color: #0000FF;
}

div#mainGuide div.mainGuideText h3 {
	font: 14px Verdana, sans-serif; text-align: left;
	font-style: italic;
	margin: 0;
	margin-top: 5px;
	padding: 0px;
	text-align: left;
	color: #000000;
}



/* SECOND PAGE ONLY - display your progress */


div#mainGameAnswerCorrect {
	qqqposition: relative;
	qqqdisplay: block;
	
	min-height: 50px;
	background: #aaffaa;
	margin-bottom: 10px;
	text-align: center;	
	border: 1px solid #aaaaaa;
}

div#mainGameAnswerIncorrect {
	qqqposition: relative;
	qqqdisplay: block;
	
	min-height: 50px;
	background: #eebbbb;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #aaaaaa;
}

div#mainGameAnswerCorrect #correct {
	font-weight: bold; 
	color: #000000; 
	font-size: 16px;

	padding-top: 4px;
	padding-left: 10px;
}

div#mainGameAnswerCorrect #correct span {
	font-weight: bold; 
	color: #000000; 
	font-size: 18px;
}

div#mainGameAnswerCorrect #correctDef {
	font-weight: normal;
	color: #000000; 
	font-size: 18px;
	padding: 3px 0px 5px 10px;
}

div#mainGameAnswerCorrect #correctDefSmall {
	font-weight: bold;
	color: #000000; 
	font-size: 16px;
	padding: 7px 0px 5px 10px;
} 

div#mainGameAnswerIncorrect #incorrect {
	font-weight: bold; 
	color: #000000; 
	font-size: 16px;

	padding-top: 4px;
	padding-left: 10px;
}

div#mainGameAnswerIncorrect #incorrect span {
	font-weight: bold; 
	color: #000000; 
	font-size: 18px;
}
	      
div#mainGameAnswerIncorrect #incorrectDef {
	color: #000000; 
	font-weight: normal; 
	font-size: 18px;
	padding: 13px 0px 15px 10px;
}

div#mainGameAnswerIncorrect #incorrectDefSmall {
	color: #000000; 
	font-weight: bold;
	font-size: 16px;
	padding: 13px 0px 15px 10px;
}

div#mainGameAd {
	position: relative;
	display: block;
	
	height: 15px;
	background: #ffffff;

	width:479px;
	padding: 0px;
	margin: 0px;
}

div#mainProgressDifficultyLevel {
	padding: 0;
	margin-top: 10px;

	font-size: 12px;
	font-weight: bold;
}

div#donatebotAd {
	position: absolute; 
	top: 50px; 
	left: 0px;
	z-index: 100;
}



div#headerLoginInfo {
	font-size: 13px;
	line-height: 15px;
	color: #000000;

	width: 860px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-top: 0px;
}



/* GENERIC PAGES -- LEFT FLOWING ART */

div#mainGenericContainer {
	
}

/* GENERIC PAGE -- RIGHT CONTENT */

div#mainGenericContent {
	width: 728px;
	margin: 0;
	padding: 0;
}

div#mainGenericContent h1 {
	font-weight: normal;
	font-size: 18px;
	font-weight: bold;

	margin: 0;
	padding: 0;

	padding-left: 10px;
	padding-bottom: 10px;
}

div#mainGenericContent h2 {
	font-weight: normal;
	font-size: 18px;
	font-weight: bold;

	margin: 0;
	padding: 0;

	padding-left: 10px;
	padding-bottom: 10px;
}

#mainGenericContent li {
        list-style-type: disc;
        list-style-position: inside;
	padding: 5px 20px 5px 20px;
	margin: 0px;
}

#mainAdTop {
	display: block;
	min-height: 90px;
    width: 728px;

	margin-left: auto;
	margin-right: auto;

	padding-top: 10px;
}

#mainAdBottom {
	position: relative;
	display: block;
	
	width: 730px;

	padding: 0;
	margin: 15px auto 0 auto;
	    
	clear: both;
	
}



/* FAQ */

div#faqLeft
{
	display: block;
	float: left;
	width: 230px;
	margin-right:30px;
        margin-top: 25px;

	background: #4444ff;
	padding: 10px;
}

div#faqRight
{
	display: block;
	float: left;
	width: 410px;
	margin: 0;
	
	margin-top: 25px;
	
	background: #ffffff;
	padding: 10px;
	border: 1px solid #000000;
}

div#faqRight h2
{
	font-size: 18px;
	line-height: 18px;
	margin: 5px;
	padding: 10px 0px 10px 0px;
}

div#faqLeft h4
{
	padding: 0 10px 0 10px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
}

div#faqLeft h4 a
{
	text-decoration : none;
	color: #ffffff;
}

div#faqLeft h4 a:hover
{
	/* font-weight: bold; */
	color: #00ff00;
}

/* BANNERS */
table#bannerTable
{
	font-size: 10px;
}



/*--- OPTIONS PAGE -----------------------------*/

/* ATTEMPT AAA */
/*
body#options div#optionSelector h2 {
	font-weight: normal;
	font-size: 1.3em;
	font-weight: bold;

	margin-bottom: 0.3em;
}

body#options div#optionSelector div.optionGroup {
	padding: 10px 10px 10px 10px;
	margin: 20px 40px 20px 10px;
	width: 400px;
}

body#options div#optionSelector h2
{
	margin: 0 0 10px 0;
	padding: 0;
}

body#options div#optionSelector ul a {
	display: block;
	width: 300px;
	height: 35px;

	text-indent:0px;
	text-decoration:none;
	text-align:center;
	line-height: 35px;
}

body#options div#optionSelector li {
	text-decoration: none;
	font-weight: normal;
	font-size: 1.4em;

	list-style: none; 
	padding: 0; 
	margin: 0;
}

body#options div#optionSelector li.disabledOption a {
	color: #000000;
	background: url('test/buttons.png') no-repeat -0px -0px;
}

body#options div#optionSelector li.enabledOption a {
	color: #000000;
	font-weight: bold;
	background: url('test/buttons.png') no-repeat -0px -70px;
}

body#options div#optionSelector li a:hover {
	background: url('test/buttons.png') no-repeat -0px -35px;
}

body#options div#optionSelector a.backToGame {
	font-weight: normal;
	font-size: 1.6em;
	font-weight: normal;
}

body#options div#optionSelector a.backToGame:hover {
	
}
*/

body#options div#optionSelector {
	margin-top: 20px;	
}

body#options div.optionGroup {
	padding: 0px 10px 20px 40px;
}

body#options div.optionGroup h2 {
	font-size: 14px;
	padding-bottom: 0px;	
}

body#options div.optionGroup table tr {
	border-collapse: collapse;	
}

body#options div.optionGroup table td {
	background: white;
	border: 2px solid #000000;
}

body#options div.optionGroup table td a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 10px;
}

body#options div.optionGroup table td.enabledOption a {
	background: #00ccff;
}

body#options div.optionGroup table td.disabledOption a:hover {
	background: #ccffcc;
}



/*  Magic row */

div.magicRow2 {

	margin-left: auto;
	margin-right: auto;
	overflow: hidden;	
	width: 728px;

	padding: 10px;
}

div.magicRow2White {

	margin-left: auto;
	margin-right: auto;
	overflow: hidden;	
	width: 728px;

	padding: 10px;
	background: #ffffff;
	border: 1px solid #000000;
}

/* Invite web page */

div#invitePage div#contactLogins {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

div#invitePage div#contactLogins div.singleLogin {
	font: 12px Verdana, "Lucida Grande", sans-serif;
	font-weight: bold;
	text-align: center;
	display: inline;
	float: left;
	width: 350px;
}

div#invitePage div#contactLogins div.singleLogin div.examples {
	font: 11px Verdana, "Lucida Grande", sans-serif;
	font-weight:normal;
	text-align: center;
}

div#invitePage div#messagePanes {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

div#invitePage div#messagePanes div.singlePane {
	display: inline;
	float: left;
	width: 350px;
}

div#miniFAQ {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

div#miniFAQ div#header {
	font: 24px Verdana, "Lucida Grande", sans-serif;
	font-weight: bold;
	text-align: center;
}

div#miniFAQ div.question {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	/* text-align: center; */
	text-align: left;
	color: #0033aa;
}

div#miniFAQ div.answer {

	font-family: Verdana, Helvetica, Arial, sans-serif;

	text-align: left;
}

/* OJBAR */

div#ojbarContainer
{  
  	margin: 10px auto 0 auto; 	
  	height: 70px;
}



div#ojbarTop
{	
	height: 10px;	
}

div#ojbarLogoWrapper
{
	position: relative;
	width: 728px;
	margin-left: auto;
	margin-right: auto;
}

div#ojbarLogo {
    margin-top: 2px;
}

div#ojbarLogoTitle {
	font-size: 24px;
	font-weight: bold;
}

div#ojbarLogoTitle span#titleSmaller {
	font-size: 16px;	
}

div#ojbarWrapper
{
	width: 728px;
	margin-left: auto;
	margin-right: auto;

	position: relative;
}

div#ojbar
{
	font-size: 14px;
	float: right;
	border: 1px solid #aaaaaa;
	padding: 5px;	
	background: #ffffff;
	border: 1px solid #000000;
}

div#ojbar_addtoany
{
    float: left;
    margin-left: 15px;
    margin-top: 18px;
}

div#fb_ojbarProfilePic
{
	float: left;
	margin-left: 15px;
}

div#fb_ojbarProfileText
{
	float: left;
	margin-left: 5px;
}

div#ojbar a, div#ojbar a:focus, div#ojbar a:active, div#ojbar a:visited {	
	text-decoration: none;
	color: #002266;
	padding: 5px;
}

div#ojbar a:hover,
body#index div#ojbar a#index,
body#invite div#ojbar a#invite,
body#progress div#ojbar a#progress,
body#faq div#ojbar a#faq,
body#contact div#ojbar a#contact,
body#banners div#ojbar a#banners,
body#submitpuzzle div#ojbar a#submitpuzzle,
body#login div#ojbar a#login,
body#options div#ojbar a#options
{
       color: #0055aa;
       
       text-decoration: underline;
       
}

div#fb_ojbarProfileText a:hover,
div#fb_ojbarProfileText a, div#fb_ojbarProfileText a:focus, div#fb_ojbarProfileText a:active, div#fb_ojbarProfileText a:visited
{
       color: #bbbbff;
       text-decoration: none;
}


/* From FB */

div#mainGameHeader {
    margin: 0;
	padding: 7px 0 7px 10px;
	margin-bottom: 10px;
	text-align: center;

    font-size: 15px;
    background: #ccddee;
    
    border: 1px solid #aaaaaa;
}

div.mainGameNotification {
	padding: 7px 0 7px 10px;
	margin: 0 0 10px 0;
	text-align: center;

    font-size: 20px;
    background: #eeccee;
    
    border: 1px solid #aaaaaa;
}

div#mainGameHeader span.hilight {
	font-weight: bold;
}

/* Growth -- the table to the right of the game with donation amounts */

div#growth {
	margin-top: 5px;
}

div#growth div#youHaveDonated {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

div#growth td {
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 5px;
}

div#growth td.selected {
	background: #ccffcc;
}

div#growth div#clickToPostRow {
	margin-top: 10px;
}

div#growth div#clickToPostImage {
	float: left;
}

div#growth div#clickToPostText {
	float: left;
	margin-left: 5px;
	font-size: 12px;
}

div#growth span.donationNumber {
	font-size: 20px;
	font-weight: bold;
}

div#growth div#puzzleDifficulty {
	margin-top: 10px;
}

div#magicRow2Game {
	width: 728px;
}

/* PRETTY TABLE
http://www.elated.com/articles/styling-tables-with-css/
*/

.prettyTable
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  color: #000;
  background: #bcd0e4 url("test/pretty_table_bg.jpg") top left repeat-x;
}

.prettyTable caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.prettyTable th, .prettyTable td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #632a39;
}

.prettyTable th[scope=col]
{
  color: #000;
  background-color: #8fadcc;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.prettyTable th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

.prettyTable th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

.prettyTable tr.alt th, .prettyTable tr.alt td
{
  color: #2a4763;
}

.prettyTable tr:hover th[scope=row], .prettyTable tr:hover td
{
  background-color: #632a2a;
  color: #fff;
}

/* You have donated */

div#mainGamePuzzleRight {
	float: left;
	width: 200px;
	margin-left: 90px;
	margin-top: 10px;
}

div#mainGamePuzzleDonationInfo {
	width: 190px;
    text-align: center;
    font-size: 16px;
    
    border: 1px solid #aaaaaa;
    padding: 15px;
}

div#mainGamePuzzleDonationInfo div#di_youhave {
    
}

div#mainGamePuzzleDonationInfo div#di_number {
    font-size: 32px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#mainGamePuzzleDonationInfo div#di_unit {
    padding-bottom: 10px;
}

div#mainGamePuzzleDonationInfo div#di_charityName {
    font-weight: bold;
    color: #0000aa;
}

div#mainGamePuzzleDonationInfo div#di_selectCharity {
    padding-bottom: 10px;
    font-size: 14px;
}

div#mainGamePuzzleDonationInfo div#di_selectCharity a {
    display: block;
}

div#mainGamePuzzleDonationInfo div#di_selectCharity a:hover {
    
}

/* TRIPS */

div.trips {
    float: left;
    width: 225px;
}

div.trips h2 {
    color: #0000aa;
    font-size: 16px;
}

div.trips h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

div#trips2, div#trips3 {
    margin-left: 14px;
}

div#logoRow a {
	display: block; 
	float: left; 
	margin-left: 52px; 
	border: 1px solid black;
	padding: 5px;
	background: #ffffff;
}

/* REFERRAL BONUS */

div#referralBonus {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 5px solid #00aa00;
    background: #ffffff;
}

div.bonusInviteBox {
    background: #b1dfff;
	padding: 10px;
}

div.bonusInviteBox h1 {
    text-align: center;
}

input.error {
    background: #ffcccc;
}


/* FOOTER2 */

div#footer2container {
	background: #cacee8;
	margin-top: 5px;
	border-top:2px solid #919191;
	
	position: absolute;
	bottom: 0;
	/* height of footer - must match body.padding-bottom */
	height: 220px;
	width: 100%;		
}

div#footer2 {
	margin: 0 auto 0 auto;	
	width: 750px;
	font-size: 1.1em;
}

div#footer2 a {
	color: #4400cc;
	text-decoration: none;
}

div#footer2 a:hover {
	text-decoration: underline;
}

div#footer2 h3 {
	font-size: 1.0em;
	margin-bottom: 7px;
}

div#footer2 hr {
	width: 750px;
}

div#footer2 div.footer2BlankLeft {
	float: left;
	width: 155px;
}

div#footer2 div.footer2Column {
	float: left;
	width: 175px;
}

div#footer2 div#footer2Copyright {
	text-align: center;
	padding-top: 25px;
	font-size: 0.9em;
}

/* FEATUREDOFFERS */

div#featuredOffers {
	font-size:11px;	
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	text-align:left;
	
	margin-top: 10px;
	background: #ffffff;
}

div#featuredOffers div#featuredOffersMenuBar {
	background-color:#3B5998;
	
	border:1px solid #000000;
	
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	padding:2px 2px 2px 10px;
}

div#featuredOffers table {
	border-collapse:collapse;	
}

div#featuredOffers div.offerName a {
	color:#3B5998;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;	
}

div#featuredOffers div.offerName a:hover {
	text-decoration:underline;	
}

div#featuredOffers div.offerSteps {
	font-size:10px;
	padding-top:4px;
	color:gray;
}

div#featuredOffers a.offerButton {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(test/offer_button_right.png) no-repeat scroll right top;
	color:#3B5998;
	display:block;
	font-size:110%;
	font-weight:bold;
	height:45px;
	text-align:center;
	text-decoration:none;
}

div#featuredOffers a.offerButton:hover {
	text-decoration:underline;	
}

div#featuredOffers a.offerButton span {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(test/offer_button_left.png) no-repeat scroll 0 0;
	display:block;
	height:45px;
	margin-right:14px;
	padding:14px 0 5px 14px;
	white-space:nowrap;
}

div#featuredOffers table td {
	padding: 3px;
	border:1px solid #000000;
	border-collapse:collapse;
}


/* CHECKERROW */

table.checkerRow {
	border-collapse: collapse;
}

table.checkerRow td {
	width: 28px;
	height: 28px;
	border: 2px solid #000000;
	text-align: center;
	font-size: 18px;			
}

table.checkerRow td.filled {
	background: #000000;
}

table.checkerRow td.other {
	background: #cccccc;
}



div.possibleAnswerList {	
	padding: 0px 0px 25px 0px;
}

div.possibleAnswer {
	position: relative;
	margin-top: 25px;
	background: #ffffff;
}

div.possibleAnswer a {
	cursor: pointer;
}

div.possibleAnswer a:hover {
	font-weight: bold;
	color: #000000;
}

div.possibleAnswerList div.possibleAnswer div#answerSuggest {
	position: absolute;
	top: 5px;
	left: 300px;
	
	border: 2px solid #000000;
	color: #000000;
	background: #ffcccc;
	font-size: 11px;
	padding: 5px;
	
	width: 190px;
	overflow: visible;
	z-index: 100;
}
