.dialog .t {
	height:1600px; /* arbitrary long height, IE 6 */
}

.dialog .content {
	zoom:1;
	overflow-y:hidden;
}

div#headerLogo img {
	behavior: url(iepngfix.htc)
}

div#headerDrops img {
	behavior: url(iepngfix.htc)
}

body#banners img {
	behavior: url(iepngfix.htc)
}

div#mainGameBlankAd {
	width:485px;
}

div#mainGameAd {
	width:485px;
}