div#mainGamePuzzle {
	border: 0px;
}

div#mainGameIntro {
	border: 0px;
}

div#mainGameBlankAd {
	border: 0px;
}

div#mainGuide {
	border: 0px;
}

div#mainGameAnswerCorrect {
	border: 0px;
}

div#mainGameAnswerIncorrect {
	border: 0px;
}

div#mainGameAd {
	border: 0px;
}

div#faqLeft {
	border: 0px;
}