div#centerEverything {
	margin: 0;
}

div#ultraLeft {
	width: 0px;
	display: none;
}

div#ultraRight {

/*
	position: relative;
	margin-left: auto;
	margin-top: 0px;
*/


	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

div#wrapperContentBox {
	width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}

div#mainBox {
	margin-top: 3px;

	margin-left: -12px;
}

div#headerBox {
	width: 320px;
	/* TB TODO - Need a soft logo that we can draw over */
	/* background: url(test/blue_ball.jpg) no-repeat #bbbbff; */
	background: url(test/xxxblue_ball.jpg) no-repeat #bbbbff;

	height: 54px;
}

div#headerShiftRight {
	margin-left: 0;
}

div#headerLogo {
	display: none;
}

div#headerTitle {
	width: 320px;
	height: 24px;
	padding-left: 5px;
	padding-top: 5px;
	line-height: 24px;
}

div#headerTitle h1 {
        font-size: 24px;
}

div#headerSubtitle {
	/* display: none; */

	height: 30px;
	line-height: 12px;
	padding: 0 0 0 5px;
}

div#headerSubtitle h2 {
	font-size: 12px;
}

div#mainGameIntro {
	font-size: 10px;
	line-height: 10px;
}

div#mainGame {
	width: 320px;
	float: none;
}

div#mainGameAd {
	width: 234px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
}


div#mainGuide {
	width: 300px;
	height: 320px;
	float: none;
}

div#mainGuide a:hover span,
div#mainGuide a.initialBox span {
	width: 290px;
	height: 290px;
}

div#mainProgress {
	width: 290px;
	height: 80px;
	float: none;
}


div#mainProgressDonatedAmount {
	height: 60px;
}

#mainAdBottom {
	width: 234px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;

	padding: 0;
}

ul#menuTop {
	position: relative; 
	left: 0px; 
	top: 0px; 
	width: 320px;
	height: 18px;
}

ul#menuTop li {
	width: 47px;
	}
ul#menuTop li.faq {
    width: 32px;
	}
ul#menuTop li.totals {
    width: 62px;
	}
ul#menuTop li.options {
    width: 60px;
	}
ul#menuTop li.submitpuzzle {
    width: 55px;
	}
ul#menuTop li.contact {
	width: 58px; 
	}	
ul#menuTop li a {
	display: block; width: 100%; text-indent: -999em;
	}
ul#menuTop li.home a {
	background: url(iphone/test/headermenu.png) no-repeat 0 -18px; 
	}
ul#menuTop li.faq a {
	background: url(iphone/test/headermenu.png) no-repeat -43px -18px;
	}
ul#menuTop li.totals a {
	background: url(iphone/test/headermenu.png) no-repeat -68px -18px;
	}
ul#menuTop li.options a {
	background: url(iphone/test/headermenu.png) no-repeat -126px -18px;
	}
ul#menuTop li.submitpuzzle a {
	background: url(iphone/test/headermenu.png) no-repeat -180px -18px;
	} 	
ul#menuTop li.contact a {
	background: url(iphone/test/headermenu.png) no-repeat -232px -18px;
	}	

ul#menuTop li.home a:hover, body#index ul#menuTop li.home a { 
	background: url(iphone/test/headermenu.png) no-repeat 0 0;
	}
ul#menuTop li.faq a:hover, body#faq ul#menuTop li.faq a { 
	background: url(iphone/test/headermenu.png) no-repeat -43px 0;
	}
ul#menuTop li.totals a:hover, 
body#totals ul#menuTop li.totals a {
	background: url(iphone/test/headermenu.png) no-repeat -68px 0;
	}
ul#menuTop li.options a:hover, body#options ul#menuTop li.options a { 
	background: url(iphone/test/headermenu.png) no-repeat -126px 0;
	}
ul#menuTop li.submitpuzzle a:hover, 
body#submitpuzzle ul#menuTop li.submitpuzzle a { 
	background: url(iphone/test/headermenu.png) no-repeat -180px 0;
	}     	
ul#menuTop li.contact a:hover, body#contact ul#menuTop li.contact a { 
	background: url(iphone/test/headermenu.png) no-repeat -232px 0;
	}


div#workInProgress {
	display: none;
}


#wrapperFooter {
	width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}

#mainGenericContainer {
	width: 20px;
}

#mainGenericContent {
	width: 300px;
	margin: 0;
	padding: 0;
}

#mainAdTop {
	width: 234px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

div.possibleAnswerList {
	margin:0;
	padding:0;
}

div.possibleAnswer a {
	width:300px;
	margin-bottom: 10px;
}

.dialog {
	max-width:320px; 
	/* margin:0 auto 0.5em 0px; */
}

.dialog .content {
 padding: 0;
 margin: 0;
}
