/*
Apply special ugly colors to show where all of the DIVs are...
*/

div#ultraLeft {
	background: #000000;
}

div#wrapperContentBox {
	background: #000000;
}

div#mainBox {
	background: #00ff00;
}

div#mainGame {
	background: #aaaaff;
}

div#mainGamePuzzle {
	background: #ff0000;
}

div#mainGamePuzzleQuestion {
        background: #ccccff;
}

div#mainGameIntro {
	background: #ff9999;
}

div#mainGameBlankAd {
	background: #ffaaaa;
}

div#mainGuide {
        background: #888888;
}

div#mainGameAnswer {
	background: #ff9999;
}

div#mainGameAd {
	background: #ffaaaa;
}

div#mainProgress {
	background: #888888;
}

div#mainProgressDonatedAmount {
	background: #777777;
}

div#mainProgressPleaseClick {
	background: #666666;
}

div#mainProgressDifficultyLevel {
	background: #666666;
}

div#firstTime a {
	background: #444;
}

div#firstTime a:hover {
	background: #AAA;
}

div#headerTitle {
	background: #ff0000;
}

div#headerSubtitle {
	background: #0000ff;
}

#mainGenericContainer {
	background: #666666;
}

#mainGenericContent {
	background: #dddddd;
}

#mainAdTop {
	background: #888888;
}

#mainAdBottom {
	background: #888888;
}

div.possibleAnswerList {
	background: #0000ff;
}

div.possibleAnswer a {
	background: url('test/buttons.png') no-repeat #aaaaff;
}

div.possibleAnswer a:hover {
	background: url('test/buttons.png') no-repeat #aaaaff -0px -35px;
}

div.possibleAnswer a:active {
	background: url('test/buttons.png') no-repeat #aaaaff -0px -70px;
}
