/*
Copyright 2009, SuperDonate.  All rights reserved.
*/
/* Facebook canvas width = 760px */

body {
	margin: 0; padding: 0;
	font: 15px Verdana, "Lucida Grande", sans-serif;
    	background-color: rgb(255, 255, 255);
}

a {
	text-decoration: none;
}

a:link img, a:visited img { 
	border: none;
}

a:focus, a:active, a:visited {
	outline: none;
	color: #0000ff;
}

/* Get rid of empty space when creating a form */
form {
	margin: 0;
	padding: 0;
    display: inline;
	color: #000000;
}

p {
	padding:0; margin:0;
}

.clear { 
	clear: both; height: 1px; line-height: 1px;
}

h1 {
	font: 41px Helvetica, "Lucida Grande", sans-serif;
	letter-spacing: -2px;
	font-weight: bold;
	padding-bottom: 10px;

	margin: 0; 
        color: #000000;
	display: inline;
}

div.magicRow2 {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
        overflow: hidden;	
	width: 760px;
}

div.magicRowItemPitch {
	float: left;
        font: 24px Georgia, "Lucida Grande", sans-serif;
        font-size: 24px;
	padding-right: 10px;
}

div.magicRowItemPitchLogo {
	width: 150px;
	float: left;
}

div.magicRowItemPitchMenu {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 14px;
}


div.magicRowItemProgress {
	width: 400px;
	float: left;
}

div.magicRowItemScreenshot {
	width: 450px;
	float: left;
}

div.magicRowItemMiniChart {
	width: 500px;
	float: left;
}

div.magicRowItemMiniProgress {
	width: 170px;
	float: left;
	padding-right: 40px;
}

div.magicRowItemBarLogo {
	width: 114px;
	float: left;
}

div.magicRowItemBarProfile {
	width: 180px;
	float: left;
	padding-right: 0px;
}

div.magicRowItemBarInvite {
	width: 80px;
	float: left;
	padding-right: 15px;
}

div.magicRowItemBarAd {
	width: 646px;
	float: left;
}


div.magicRow2PicBox {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
        overflow: hidden;	
	/* 760 - 2*10 - 2*3 */
	width: 734px;

	border:3px solid #c1c1c1;
	padding: 10px;
}

div.magicRowItem3PicBoxLeft {
	width: 228px;
	float: left;      
	padding-right: 25px;
}

div.magicRowItem3PicBoxMiddle {
	width: 228px;
	float: left;      
	padding-right: 25px;
}

div.magicRowItem3PicBoxRight {
	width: 228px;
	float: left;      
	padding-right: 0px;
}

div.magicRowItemChart {
	float: left;      
	width: 380px;
	padding: 0;
	margin: 0;
}

div.headerSmallImage0 {
	background: url(http://media.superdonate.org/imgtest/progress_center_small.png) no-repeat 0px -0px;
	text-indent: 50px;
	margin-top: 7px;
}

div.headerSmallImage1 {
	background: url(http://media.superdonate.org/imgtest/progress_center_small.png) no-repeat 0px -31px;	
	text-indent: 50px;
	margin-top: 5px;
}

div.headerSmallImage2 {
	background: url(http://media.superdonate.org/imgtest/progress_center_small.png) no-repeat 0px -67px; 
	text-indent: 50px;
	margin-top: 5px;
}

div.headerSmallImage3 {
	background: url(http://media.superdonate.org/imgtest/progress_center_small.png) no-repeat 0px -103px; 
	text-indent: 50px;
	margin-bottom: 7px;
	margin-top: 5px;
}


/* ADS */
div.adFBBanner {
	margin-top: 24px;
}


/* CROSSCHOICE */

div#mainProgress {
	float: left;
}
div#mainGameHeader {
        margin: 0;
	padding: 7px 0 7px 10px;
	font-size: 13px;
	margin-bottom: 10px;
	text-align: center;
	background: #c1c1c1;
}


div#mainGameHeader span.hilight {
	color: #008800;
	font-weight: bold;
}

div#mainGame {

	position: relative;
	display: block;
	width: 470px;
	float: left;
	margin-right: 15px;

	/* margin-top: 10px; */
	padding: 0;

	border:3px solid #c1c1c1;
	padding: 10px;
}


div#mainGamePuzzle {
	position: relative;
	display: block;
	margin: 0;
	padding-bottom: 0px;
	color: #000000;

	float: left;
}

div#mainGamePuzzleQuestion {
	position: relative;
	display: block;
	padding: 10px 10px 10px 10px;

	font-size: 20px;
    font-weight : bold;
    color: #0000aa;
    border-bottom: 1px solid #000000;
    
    width: 350px;
}

div#mainGamePuzzleQuestion span.small {
	font-size: 15px;
}

div#mainGamePuzzleQuestion span.tiny {
	font-size: 12px;
}

div#mainGameAnswerCorrect {
	position: relative;
	display: block;
	min-height: 50px;
	background: #aaffaa;

	margin-bottom: 10px;

	text-align: center;
}

div#mainGameAnswerIncorrect {
	position: relative;
	display: block;
	min-height: 50px;
	background: #ffcccc;

	margin-bottom: 10px;

	text-align: center;
}

div#mainGameAnswerCorrect #correct {
	font-weight: bold; 
	color: #000000; 
	font-size: 1.4em;

	padding-top: 4px;
	padding-left: 10px;
}

div#mainGameAnswerCorrect #correct span {
	font-weight: bold; 
	color: #000000; 
	font-size: 1.2em;
}

div#mainGameAnswerCorrect #correctDef {
	font-weight: normal;
	color: #000000; 
	font-size: 1.4em;
	padding: 3px 0px 5px 10px;
}

div#mainGameAnswerCorrect #correctDefSmall {
	font-weight: bold;
	color: #000000; 
	font-size: 1.1em;
	padding: 7px 0px 5px 10px;
} 

div#mainGameAnswerIncorrect #incorrect {
	font-weight: bold; 
	color: #000000; 
	font-size: 1.4em;

	padding-top: 4px;
	padding-left: 10px;
}

div#mainGameAnswerIncorrect #incorrect span {
	font-weight: bold; 
	color: #000000; 
	font-size: 1.2em;
}
	      
div#mainGameAnswerIncorrect #incorrectDef {
	color: #000000; 
	font-weight: normal; 
	font-size: 1.4em;
	padding: 13px 0px 15px 10px;
}

div#mainGameAnswerIncorrect #incorrectDefSmall {
	color: #000000; 
	font-weight: bold;
	font-size: 1.1em;
	padding: 13px 0px 15px 10px;
}

div.possibleAnswerList {
	padding: 0px 0px 25px 0px;
}

div.possibleAnswer {
	position: relative;
	margin-top: 25px;
	background: #ffffff;
}

div.possibleAnswer a {
	cursor: pointer;
	color: #000000;
}

div.possibleAnswer a:hover {
	font-weight: bold;
	color: #000000;
}

div.possibleAnswerList div.possibleAnswer div#answerSuggest {
	position: absolute;
	top: 5px;
	left: 300px;
	
	border: 2px solid #000000;
	color: #000000;
	background: #ffcccc;
	font-size: 12px;
	padding: 5px;
	
	width: 160px;
	overflow: visible;
	z-index: 100;
}

div.possibleAnswer a:active {
}

div.possibleAnswer a span.theWord {
	color: #000000;
}

div.possibleAnswer a span.askCrowdPct {
	color: #008800;
	font-size: 12px;
	margin-left: 7px;
}

/* Charity Selector */

div#charitySelect {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 728px;
}

div#charitySelect div#charitySelectIntro {
	margin-bottom: 10px;
	font-style: italic;
}

div#charitySelect div#charitySelectHeader {
	width: 728px;
	height: 30px;
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat 0 0px; 
}

div#charitySelect0 {
	float: left;
}

div#charitySelect0 a {
	display: block;
	width: 182px;
	height: 90px;
}

div.charitySelect0Off a {
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat 0px -30px; 
}

div.charitySelect0On a,
div#charitySelect0 a:hover {
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat 0px -120px; 
}

div#charitySelect1 {
	float: left;
}

div#charitySelect1 a {
	display: block;
	width: 182px;
	height: 90px;
}

div.charitySelect1Off a {
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat -182px -30px; 
}

div.charitySelect1On a,
div#charitySelect1 a:hover
{
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat -182px -120px; 
}

div#charitySelect2 {
	float: left;
}

div#charitySelect2 a {
	display: block;
	width: 182px;
	height: 90px;
}

div.charitySelect2Off a {
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat -364px -30px; 
}

div.charitySelect2On a,
div#charitySelect2 a:hover {
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat -364px -120px; 
}

div#charitySelect3 {
	float: left;
}

div#charitySelect3 a {
	display: block;
	width: 182px;
	height: 90px;
}

div.charitySelect3Off a {
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat -546px -30px; 
}

div.charitySelect3On a,
div#charitySelect3 a:hover {
	background: url(http://www.charitii.com/test/charity_select.png) no-repeat -546px -120px; 
}


/* Growth -- the table to the right of the game with donation amounts */

div#growth {
	margin-top: 5px;
}

div#growth div#youHaveDonated {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

div#growth td {
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 5px;
}

div#growth td.selected {
	background: #ccffcc;
}

div#growth div#clickToPostRow {
	margin-top: 10px;
}

div#growth div#clickToPostImage {
	float: left;
}

div#growth div#clickToPostText {
	float: left;
	margin-left: 5px;
	font-size: 12px;
}

div#growth span.donationNumber {
	font-size: 20px;
	font-weight: bold;
}

div#growth div#puzzleDifficulty {
	margin-top: 5px;
}


div#subtitle {
	font-size: 18px;
	font-weight: bold;
}

div.faqSection {
	margin-top: 16px;
}

div.faqSection h2 {
	font-weight: bold;
	font-size: 14px;
}

div.faqSection p {
	margin-top: 5px;
	margin-bottom: 5px;
}


/* CHECKERROW */

table.checkerRow {
	border-collapse: collapse;
}

table.checkerRow td {
	width: 28px;
	height: 28px;
	border: 2px solid #000000;
	text-align: center;
	font-size: 18px;			
}

table.checkerRow td.filled {
	background: #000000;
}

table.checkerRow td.other {
	background: #cccccc;
}